@media (prefers-color-scheme: dark) {
  body {
    color: #e8e8e8;
    background-color: #1a1a1a;
  }

  a:link {
    color: aqua;
  }

  a:visited {
    color: #00b0c0;
  }

  a:hover {
    color: #00d0e0;
  }

  a:active {
    color: #00e5f5;
  }
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 5rem;
}

.top {
  display: flex;
}

nav {
  position: sticky;
  top: 5rem;
  align-self: flex-start;
  text-align: right;
  padding: 0;
  padding-right: 1rem;
  max-width: 20em;
}

nav * {
  display: block;
}

nav div {
  margin-bottom: 1em;
}

main {
  text-align: left;
  padding-left: 1rem;
  max-width: 40em;
}

main p:first-of-type {
  margin-top: 0;
  padding-top: 0;
}

main hr {
  margin: 2em 0;
  border: none;
  border-top: 3px solid currentColor;
  opacity: 0.2;
}

main .poetry {
  white-space: pre-line;
}